body{
    /* background: linear-gradient(to right, #282822, #3d3d38, #52524e, #686864, #7e7e7a); */
	/* background: #282822;                                                           */
	background: url(../assets/background.png) no-repeat;
	background-size: cover;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}