body{
    background: #282822;
    color: #ffffff ;
}

.container .display-1{
    font-family: fantasy, sans-serif;
}

#sections ul > li a{
    font-size: 18px;
    text-decoration: none;
}

#sections ul > li a:hover{
    font-weight: 600;
}


#contact-div a{
    padding: 15px;
    text-decoration: none;
}

#contact-div a:hover{
    text-decoration: none;
}

#contact-div a img:last-child{
    display: none;
}

#contact-div a:hover img:last-child{
    display: inline-block;
}

#contact-div a:hover img:first-child{
    display: none;
}