@import url(background.css);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff ;
}

.container .display-1{
    font-family: 'Architects Daughter', cursive;
    font-size: 4rem;   
}

.container h5{
    font-size: 1rem;
}

#sections ul > li a{
    font-size: 1.125rem;
    text-decoration: none;
    /* padding-right: 0.5rem;
    padding-left: 0.5rem; */
    padding: 10px;
    border: 1px solid transparent;
}

#sections ul > li a:hover{
    border: 1px solid #ffffff;
}


#contact-div a{
    padding: 0.9375rem;
    text-decoration: none;
}

#contact-div a:hover{
    text-decoration: none;
}

#contact-div a img:last-child{
    display: none;
}

#contact-div a:hover img:last-child{
    display: inline-block;
}

#contact-div a:hover img:first-child{
    display: none;
}

/* Responsive */
@media screen and (max-width: 767px) {
    #sections ul li{
        display: block;
        margin-bottom: 1rem;
    }

    #contact-div a > img{
        width: 1.5625rem;
        height: 1.5625rem;
    }

    #contact-div a{
        padding: 0.9375rem 0.3125rem 0.9375rem 0.3125rem;
    }
}

@media screen and (min-width: 768px) {
    .container .display-1{
        font-size: 8rem;
    }

    .container h5{
        font-size: 1.5rem;
    }
}