@import url(navigation.css);
@import url(background.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    font-weight: bold;
}

/* body{
    background: #282822;
} */

.container h1{
    color: #ffffff;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 100%;}
}

.container .display-4{
    color: rgb(210, 105, 30);
    animation: fadeIn 2s;
}

.container .display-4 span{
    margin-right: 1.25em;
    font-size: 1.15em;
}

.container .display-4 span:hover{
    color:#ffffff;
}
