@import url(navigation.css);
@import url(background.css);
@import url(footer.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container h1{
    color: #ffffff;
}

.container .d-flex{
    justify-content: space-between;
}

.container .d-flex .card{
    margin-bottom: 2em;
}

/* Responsive */
@media screen and (max-width: 767px) {
    .container .d-flex{
        justify-content: center;
    }
    
    .container .d-flex .card:last-child{
        margin-bottom: 0;
    }
}